<% layout("/layouts/boilerplate") %>

<div class="d-flex hero-section h-100 " style="position: relative;">
  <div class="hero-text p-4  d-flex flex-column align-items-center bebas-neue-regular " style="flex: 1 1 50%; position:relative; left: 15%; font-size: 5vw; color: #131b5a;">
    Find unique stays and unforgettable experiences — wherever your journey takes you.
    <a href="/listings" style="position:relative; right: 33%;">
        <button type="button"  class="btn hero-btn" style="width: 12vw; font-size: 2.3vw; background-color: #131b5a; color: white;" >Explore Now</button>
    </a>
    </div>    
  
  
  <div class="image-div"  style="flex: 1 1 50%; background-color: #eed6ce; display: flex; justify-content: center; align-items: center;">
  <img src="/hero-img.jpg" class="hero-image1" style="width: 95%; height: 90%; object-fit: scale-down;">
  
</div>
</div>

<div class="d-flex hero-section h-100 " >
    <div class=" d-flex flex-column image-div" style="flex: 1 1 50%; background-color: #eed6ce; justify-content: center; align-items: center;">
        <img src="/hero-img3.jpg" class="hero-image2" style="width: 90%; height: 90%; object-fit:scale-down;">
    </div>
    <div class="hero-text p-4 d-flex flex-column align-items-center bebas-neue-regular" style="flex: 1 1 50%; position:relative; right: 5%; font-size: 5vw; color: #131b5a; justify-content:center">
        Have a space to share? Turn it into an unforgettable stay.
        <a href="/listings/new" style="position:relative; right: 33%;">
        <button type="button"  class="btn hero-btn" style="width: 12vw; font-size: 2.3vw; background-color: #131b5a; color: white;" >Add Listing</button>
    </a>
    </div>
</div>

