<% layout("/layouts/boilerplate") %>
<body>
    <h1 class="col-12 col-md-6 offset-md-3  playfair-display-title fw-bold">Login</h1>
    <div class="row mt-3">
        <div class="col-12 col-md-6 offset-md-3">
            <form action="/login" method="POST" class="needs-validation  playfair-display-title fw-semibold" novalidate>
                <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                  name="username"
                  id="username"
                  placeholder="Enter username"
                  class="form-control"
                  required
                />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                      name="password"
                      id="password"
                      placeholder="Enter password"
                      class="form-control"
                      required
                    />
                </div>
                <div class="col-12 offset-5"><button class="btn btn-success">Login</button></div>
                
                    
            </form>
        </div>
    </div>
</body>