<% layout("/layouts/boilerplate") %>
<body>
    <h1 class="col-12 col-md-6 offset-md-3  playfair-display-title fw-semibold fs-1">Signup for WanderLust</h1>
    <div class="row mt-3">
        <div class="col-12 col-md-6 offset-md-3">
            <form action="/signup" method="POST" class="needs-validation  playfair-display-title" novalidate>
                <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                  name="username"
                  id="username"
                  placeholder="Enter username"
                  class="form-control"
                  required
                />
                <div class="valid-feedback">Correct</div>
                <div class="invalid-feedback">Try a different one</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                      name="email"
                      id="email"
                      placeholder="Enter email"
                      class="form-control"
                      required
                    />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input
                          name="password"
                          id="password"
                          placeholder="Enter password"
                          class="form-control"
                          required
                        />
                    </div>
                    <div class="col-12 offset-4">
                      <button class="btn btn-success">Signup</button>
                    </div>
                    
                    
            </form>
            <br>
        </div>
    </div>
</body>